/*
 * Component: Colors
*/

$blue: #2A7EED;
$blue-green: #1DBCB4;
$blue-green-light: #88D9D6;
$brown: #683625;
$yellow: #FFCA0D;
$orange: #F37A1A;
$dark-orange: #F9A513;
$red: #CD3B37;
$black: #000;
$white: #fff;
